<div class="col-xl-4 grid-margin stretch-card">
  <div class="card">
    <div class="card-body border-bottom">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <h6 class="mb-2 mb-md-0 text-uppercase fw-medium">Task Distribution</h6>
        <div class="dropdown">
         
          <select id="filterSelect" class="form-select text-dark " style="width: 150px;" onchange="window.location.href='/management/?filter_by=' + this.value">
            <option value="location" {% if selected_filter == 'location' %} selected {% endif %}>Location</option>
            <option value="task" {% if selected_filter == 'task' %} selected {% endif %}>Task</option>
            <option value="session" {% if selected_filter == 'session' %} selected {% endif %}>Session</option>
            <option value="work_nature" {% if selected_filter == 'work_nature' %} selected {% endif %}>Work Nature</option>
          </select>

        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="daoughnut-chart-sm">
        <canvas id="taskPieChart"></canvas>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
// Ensure chartData is properly initialized by parsing the JSON data safely
const chartData = JSON.parse('{{ chart_data|escapejs }}');

// Setup the pie chart using Chart.js
const ctx = document.getElementById("taskPieChart").getContext("2d");

// Initialize chart instance
let taskPieChart = new Chart(ctx, {
  type: "pie",
  data: {
    labels: chartData.labels,  
    datasets: [{
      data: chartData.values,   
      backgroundColor: ['#3c9d4e', '#7031ac', '#c94d6d','#e4bf58','#4174c9','#FF6961','#C608D1','#0674C4','#57167E'], 
      borderWidth: 1,
    }]
  },
  options: {
    responsive: true,
    plugins: {
      legend: { position: 'top' },
      tooltip: {
        callbacks: {
          label: function(tooltipItem) {
            return tooltipItem.label + ": " + tooltipItem.raw;
          }
        }
      }
    }
  }
});


  window.addEventListener('beforeunload', function () {
    sessionStorage.setItem('scrollPosition', window.scrollY);
  });


  window.addEventListener('load', function () {
    const savedScrollPosition = sessionStorage.getItem('scrollPosition');
    if (savedScrollPosition) {
      window.scrollTo(0, savedScrollPosition);  
    }
  });

</script>
