<div class="col-md-12 stretch-card">
  <div class="card profile-card bg-gradient-primary">
    <div class="card-body">
      <div class="row align-items-center h-100">
        <div class="col-md-4">
          <figure class="avatar mx-auto mb-4 mb-md-0">
            <img src="assets/images/faces/face20.jpg" alt="avatar">
          </figure>
        </div>
        <div class="col-md-8">
          <h5 class="text-white text-center text-md-left">Phoebe Kennedy</h5>
          <p class="text-white text-center text-md-left">kennedy@gmail.com</p>
          <div class="d-flex align-items-center justify-content-between info pt-2">
            <div>
              <p class="text-white fw-bold">Birth date</p>
              <p class="text-white fw-bold">Birth city</p>
            </div>
            <div>
              <p class="text-white">16 Sep 2019</p>
              <p class="text-white">Netherlands</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>