<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="typcn typcn-device-desktop menu-icon"></i>
          <span class="menu-title">Dashboard</span>
          <div class="badge badge-danger">new</div>
        </a>
      </li>          
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create' %}">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Create WorkView</span>
              <i class="menu-arrow"></i>
          </a>
        </li>     
        <li class="nav-item">
          <a class="nav-link" href="{% url 'manage' %}">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Manage WorkView</span>
              <i class="menu-arrow"></i>
          </a>
      </li>
      
            
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}">
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title">Attendance Form</span>
                <i class="menu-arrow"></i>
            </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'create' %}">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Spectate Workers</span>
              <i class="menu-arrow"></i>
          </a>
        </li>
        <!-- <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
          </ul>
        </div> -->
             
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create' %}">
              <i class="typcn typcn-document-text menu-icon"></i>
              <span class="menu-title">Generate Report</span>
              <i class="menu-arrow"></i>
          </a>
      </li>
        <!-- <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/icons/font-awesome.html">Font Awesome</a></li>
          </ul>
        </div> -->
               
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create' %}">
            <i class="typcn typcn-document-text menu-icon"></i>
            <span class="menu-title">Upload Data</span>
            <i class="menu-arrow"></i>
        </a>
      </li>
        <!-- <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>                                
          </ul>
        </div> -->
      
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="typcn typcn-mortar-board menu-icon"></i>
          <span class="menu-title">Documentation</span>
        </a>
      </li>

    </ul>
  </nav>